.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
  }

  .name{
    color: rgb(54, 94, 182);
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
  }
  .nav {
    display: flex;
    align-items: center; 
    padding-right: 5%;
  }
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav ul li {
    margin: 0 35px;
    font-size: 1.2rem;
  }
  .nav ul li a {
    text-decoration: none;
    transition: color 0.1s ease;
  }
  .nav ul li a:hover {
    color: rgb(54, 94, 182); 
    text-decoration: underline;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    color: #d4c882;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .logo img
  {
    border-radius: 50%;
  }