.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
  }

  .name{
    color: rgb(54, 94, 182);
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    padding-left: 20px;
  }
  .nav {
    display: flex;
    align-items: center; 
    padding-right: 5%;
  }
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav ul li {
    margin: 0 35px;
    font-size: 1.2rem;
  }
  .nav ul li a {
    text-decoration: none;
    transition: color 0.1s ease;
  }
  .nav ul li a:hover {
    color: rgb(54, 94, 182); 
    text-decoration: underline;
  }
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    text-decoration: none;
    color: #d4c882;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.15rem;
    text-transform: uppercase;
    font-size: 1.5rem;
  }
  .logo img
  {
    border-radius: 50%;
  }

  .button {
    background-color: #d4c882; /* A pink color that complements the styling you prefer */
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #696809; /* Darker pink on hover */
  }
  
  .button:active {
    background-color: #696809; /* Even darker pink when clicked */
    transform: scale(0.98); /* Slight scale down when button is pressed */
  }
  